.info-table {
    width: 100%;
    box-sizing: border-box;
}

.info-table, .info-table td, .info-table th {
    border-collapse: collapse;
    border: 1px solid #666666;
    color: #333333;
    margin-top: 0.25rem;
    padding: 0.25rem;
    padding-right: 0.5rem;
    text-align: left;
    vertical-align: top;
}